 /* Animasi muncul */

  @keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  
  

  

  .hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-in-out, transform 2s ease-in-out;
  }

  /* Animasi saat terlihat */
  .animate {
    opacity: 1;
    transform: translateY(0);
  }

  @media (max-width: 768px) {
    .card-mapel {
      transform: none;
      overflow: visible;
      transform: skew(0deg);
      height: 254px;
    }
  }

  

  @media (max-width: 421px){

    

    .navbar img {
      width: 50px;
    }
    .hero {
            background-size: auto;
            height: 500px;
    }

    .mapel {
      flex-direction: column;
      align-content: center;
    }
    .card-mapel {
      transform: none;
      overflow: visible;
      transform: skew(0deg);
      height: 254px;
    }

    
  }


  /* running-text */
  @keyframes scroll-text {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(-100%);
    }
}